.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 16px;
}
  .bg-card {
    background-color: #171825;
    box-shadow: 0px 1px 4px 0px #0000001a;
    border-radius: 4px;
}
.text-green{
  color: #3DD883;
}
