// Phone
$screen-sm-max: 1024px;

// Tablets
$screen-tab-max: 1024px;

// Phone
@mixin phone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
// Tablets
@mixin tablet {
  @media (max-width: #{$screen-tab-max}) {
    @content;
  }
}

.company-container {
  .card {
    background-color: #f8fbff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4%;
    width: 120px;
    height: 120px;
    margin-top: 17px;

    @include phone {
      display: flex;
      justify-content: center;
      width: 35%;
      left: 35%;
    }

    :hover {
      cursor: pointer;
    }

    .pencil-container {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.info-card {
  .card {
    background-color: #f1faff;
    box-shadow: none;
    width: 100%;
    height: 90%;
    padding: 21px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
  }

  @include phone {
    width: 100%;
    .card {
      left: 0;
      width: 100%;
    }
  }

  .text-clr58 {
    color: #585960;
  }
}

.button-margin {
  margin-top: 135px;

  @include phone {
    margin-top: 0;
  }
}
.non-active {
  font-size: 16px;
  outline: none !important;
  border: 0;
  color: #4776e6;
  padding: 8px 16px;
  background-color: rgba(71, 118, 230, 0.1);
  height: 40px;
  border-radius: 4px;
}
.activeB {
  font-size: 16px;
  outline: none !important;
  border: 0;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #4776e6;
  height: 40px;
  border-radius: 4px;
}
.disableDiv {
  pointer-events: none;
}
